<header>
  <mat-toolbar>
    <span>Gestion de mes Contacts</span>
  </mat-toolbar>
</header>

<main>
  <div>
    <h1>Contacts enregistrés dans le répertoire</h1>
    <hr>
    <div>
      <ul *ngFor="let contact of contacts">
        <li >
          {{contact.name}}
          {{contact.pseudo}}
        </li>
      </ul>
    </div>
    <hr>
    <app-form (newContactEvent)="newContact($event)"></app-form>
  </div>
  <hr>
  <div>
    <h1>Modifier Contact</h1>
    <app-display></app-display>
  </div>
</main>